.header{
    margin: 0rem;
    padding: .5rem 1.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #eac100;
}
.headerLeft, .headerRight{
    display: flex;
    align-items: center;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color:#e2f3f5;
}

a > span:hover{
    color: #d72323;
}
h1{
    margin: 10px 5px;
    font-size: 2rem;
    cursor: pointer;
    color: #e2f3f5;
}
h1:hover{
    color: #10316b;
}